<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TTS Blog</title>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/CSS/standard.css">


</head>
<Body>
    
</Body>
<form action="#" th:action="@{~/blogpost/edit/{id}(id=${blogPost.id})}" th:object="${blogPost}"
                method="POST">
    <table>
    <tr>
         <td>Title</td>
         <td><input type="text" th:field="*{title}" /></td>
    </tr>
    <tr>
        <td>Author:</td>
        <td><input type="text" th:field="*{author}" /></td>
    </tr>
    <tr>
        <td>Blog Entry:</td>
        <td><input type="text" th:field="*{blogEntry}" /></td>
    </tr>
    <tr>
        <td><button type="submit">Submit Your Post</button></td>
    </tr>
    </table>
</form>

<a th:href="@{/}">
    <button class="btn btn-success">Back</button> 
</a>
</html>