body{
	background-color: #0B4C5F;
}

.container{
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px; 
}

#navbar-border{
	padding: 15px;
}

form{
	padding: 15px;
}

#back{
	padding-left: 15px;
}

.row{
	padding: 15px;
	justify-content: center;
}

.card{
	text-align: center;

}

.card-subtitle{
	text-align: left;
}